.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 10px auto;
}
.unit {
  border: 1px solid white;
  height: 2px;
  width: 2px;
}
.past {
  background-color: lightblue;
}
.present {
  background-color: red;
}
.future {
  background-color: lightseagreen;
}
