.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 700px;
}
.unit {
  width: 3px;
  height: 3px;
  margin: 1px;
}
.past {
  background-color: lightblue;
}
.present {
  background-color: red;
}
.future {
  background-color: lightseagreen;
}
